.mega_menu_nav {
  background-color: #fff;
  padding: 10px;
  border-radius: 6px;
  width: 100%;
}

.custom_mega_menu {
  box-shadow: none !important;
  width: 100% !important;
  background-color: rebeccapurple;
}

/* ================= */
/* collupse */

.all_links {
  margin: 5px;
}

.collapsible {
  background-color: #fff;
  color: #484848;
  cursor: pointer;
  padding: 8px 18px;
  text-transform: capitalize;
  width: 100%;
  border: none !important;
  text-align: left;
  outline: none !important;
  border-radius: 30px;
  font-size: 15px;
  -webkit-box-shadow: 0px 10px 30px #2b56f524 !important;
  -moz-box-shadow: 0px 10px 30px #2b56f524 !important;
  box-shadow: 0px 10px 30px #2b56f524 !important;
}

.active_mlb,
.collapsible:hover {
  /* background-color: #ccc; */
  background-image: linear-gradient(to top, #dd4454 0%, #dd9044 100%);
  color: #fff;
}

.mlbs_content {
  padding: 0 2px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  border-radius: 10px;
  transition: max-height 0.2s ease-out;
  margin-top: 15px;
}

.collapsible:after {
  content: '\02795';
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active_mlb:after {
  content: '\2796';
  color: #dd4454 !important;
}

/* .all_links ul li {
  display: inline-block;
  margin: 2px;
} */

.mlbs_content ul {
  padding: 2px 0 !important;
  margin: 0 !important;
}
.mlbs_content ul li {
  display: block !important;
  border: none !important;
  margin: 0px !important;
  padding: 2px 1px !important;
  border-bottom: 1px solid rgb(225, 222, 222) !important;
}
.mlbs_content ul li:last-child {
  border-bottom: none !important;
}
.mlbs_content ul li a {
  border-radius: 0px !important;
  border: none !important;
  margin: 0 !important;
  display: block !important;
  color: #484848 !important;
}

.member_body {
  position: relative;
  transition: all 0.6s linear !important;
  overflow: hidden;
  transition-delay: 2s;
}

.team_mem_overlay {
  position: relative;
  left: 0;
  height: 0px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s linear;
  background-color: #fff;
  transform: scale(0);
  transform-origin: top;

  text-align: justify;
}
.team_mem_overlay p {
  font-size: 13px;
  color: #484848;
}
.member_body:hover .team_mem_overlay {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  height: 100%;
  /* padding: 15px; */
}

/* ============Popup part start =============  */

.popup__overlay {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(53, 36, 22, 0.95);
  text-align: center;
  z-index: 100;
}

.popup__overlay:after {
  display: inline-block;
  height: 100%;
  width: 0;
  vertical-align: middle;
  content: '';
}

.popup {
  display: inline-block;
  position: relative;
  top: 45%;
  transform: translateY(-50%);
  width: 100%;
  height: 100%;
  max-width: 640px;
  max-height: 480px;
  padding: 20px;
  border: 1px solid black;
  background: black;
  color: white;
  vertical-align: middle;
}

.popup-form__row {
  margin: 1em 0;
}

.popup__close {
  display: block;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 12px;
  height: 12px;
  padding: 8px;
  cursor: pointer;
  text-align: center;
  font-size: 12px;
  line-height: 12px;
  color: rgba(53, 36, 22, 0.95);
  text-decoration: none;
  font-weight: bold;
}

.popup__close:hover {
  color: #eea200;
}

iframe {
  width: 100%;
  height: 100%;
}

/* other styles */

input[type='button'] {
  border: none;
  padding: 0.5em;
  background-color: yellow;
}

input[type='button']:hover {
  background-color: yellowgreen;
}

/* ================================================= */
.project_sub_categoy_main {
  padding: 0px !important;
  margin: 0px !important;
  display: inherit;
  margin: 0px 8px !important;
}
.project_sub_categoy_main a {
  position: relative;
  z-index: 1;
}
.project_sub_categoy_main:hover .project_sub {
  height: auto;
  visibility: visible;
  opacity: 1;
}
.project_sub {
  position: absolute;
  z-index: 1200;
  background-color: #fff;
  top: 40px;
  border-radius: 4px;
  height: 0px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s linear;
}
.project_sub ul li {
  list-style-type: none;
  margin: 0px !important;
  border: none !important;
  padding: 8px 2px;
  border-bottom: 1px solid #ddd9d9 !important;
  display: block !important;
}

.project_sub ul li:last-child {
  border-bottom: none !important;
}

.project_sub ul li a {
  font-size: 13px !important;
  border-radius: 2px !important;
  border: none !important;
  display: block !important;
  color: #484848 !important;
  margin: 0px !important;
}
