/* Mega Menu */

@media screen and (min-width: 1200px) {
  .top-nav ul .mega-menu ul {
    border: none;
    min-width: auto;
  }

  .top-nav ul .mega-menu ul ul {
    padding: 0 20px !important;
  }

  .top-nav .menu-item-has-mega-menu {
    position: relative;
  }

  .top-nav .mega-menu {
    display: block;
    /* left: -25%; */
    /* padding: 40px !important; */
    position: absolute;
    top: 60%;
    /* width: 940px; */
    z-index: 10;
  }

  .top-nav .menu-item-has-mega-menu:hover .mega-menu {
    display: block;
  }
  /* row */
  .top-nav .mega-menu-row {
    display: table;
    position: static;
    table-layout: fixed;
  }

  .top-nav .mega-menu-row ul {
    display: block;
    position: static;
  }
  /* column */
  .top-nav .mega-menu-col {
    border-bottom: none !important;
    display: table-cell;
    padding: 0 !important;
    width: 2000px;
  }

  .top-nav .mega-menu-col ul li {
    padding: 0;
  }

  .top-nav .mega-menu-col > a {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.05em;
    padding: 0 20px !important;
    text-transform: uppercase;
  }

  .top-nav .mega-menu-col:first-child {
    border-left: none;
  }

  .top-nav ul ul .mega-menu {
    display: block;
    margin-left: 1px;
    top: -20px;
    width: auto;
  }

  .top-nav ul ul .mega-menu li {
    border: none;
    display: block;
    width: auto;
  }
}

@media screen and (min-width: 1200px) {
  /* .top-nav .mega-menu {
      width: 1170px;
    } */

  /* .top-nav ul .mega-menu ul {
      min-width: 10em;
    } */

  /* .top-nav .mega-menu-col {
      padding: 0 11px;
    } */
}

@media screen and (max-width: 991px) {
  .top-nav .mega-menu {
    position: static;
  }
}



<li class="company_dropdown">
											<a href="#">Companies</a><!--Old Features-->
											<div class="mega-menu custom_mega_menu">
												<div class="row justify-content-center">
													<div class="col-md-4">
														<div class="mega_menu_nav">
															<div class="row">
																<div class="col-md-12 mega_links">
																	<a href="service-single2.html">Solar & Technology</a>
																</div>
																<div class="col-md-12 mega_links">
																	<a href="service-single2.html">Fortunes Assets</a>
																</div>
															</div>
														</div>
													</div>
													<!-- <div class="col-md-3 mega_links">
														<a href="service-single2.html">Solar & Technology</a>
													</div>
													<div class="col-md-3 mega_links">
														<a href="service-single2.html">Fortunes Assets</a>
													</div>
													<div class="col-md-3 mega_links">
														<a href="service-single2.html">Solar Bazar</a>
													</div>
													<div class="col-md-3 mega_links">
														<a href="service-single2.html">Fortune Motors</a>
													</div>
													<div class="col-md-3 mega_links">
														<a href="service-single2.html">Fortunes Mart</a>
													</div>
													<div class="col-md-3 mega_links">
														<a href="service-single2.html">Institute of technology</a>
													</div>
													<div class="col-md-3 mega_links">
														<a href="service-single2.html">Fortune Electronics</a>
													</div>
													<div class="col-md-3 mega_links">
														<a href="service-single2.html">Fortune zinternational</a>
													</div> -->
												</div>
												<!-- <ul class="mega-menu-row">
													<li class="mega-menu-col">
														<a href="service-single2.html">Solar & Technology</a>
													</li>
													<li class="mega-menu-col">
														<a href="service-single2.html">Fortunes Assets</a>
													</li>
													<li class="mega-menu-col">
														<a href="service-single2.html">Fortune Motors</a>
													</li>
													<li class="mega-menu-col">
														<a href="service-single2.html">Fortunes Mart</a>
													</li>
													<li class="mega-menu-col">
														<a href="service-single2.html">Institute of technology</a>
													</li>
													<li class="mega-menu-col">
														<a href="service-single2.html">Solar Bazar</a>
													</li>
													<li class="mega-menu-col">
														<a href="service-single2.html">Fortune Electronics</a>
													</li>
												</ul> -->
											</div> <!-- eof mega menu -->
										</li>


                                        <div class="all_links">
                                        <a href="#" data-filter="*" class="active selected">show All</a>
                                        <!-- <button type="button" class="collapsible" ><a href="#" data-filter="*">show All</a></button> -->
                                        <!-- <div class="mlbs_content">
                                            <ul>
                                                <li><a href="" data-filter=".street">Street 1</a></li>
                                                <li><a href=""> Street 2</a></li>
                                            </ul>
                                        </div> -->
                                       </div>